.image-skeleton {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0; /* Very light grey */
  animation: pulse 1.5s infinite ease-in-out;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensures the image fits within the container */
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0; /* Start with the image invisible */
  transition: opacity 0.5s ease; /* Adjust timing for a more noticeable effect */
}

.loaded {
  opacity: 1; /* Fade in to full opacity */
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}