/* Define the base styles */
.scroll-area-products {
  width: 95%;
  height: 50vh; /* Default height */
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.grid-container {
  display: grid;
  gap: 20px;
}

/* Apply styles based on screen size */
@media screen and (min-width: 801px) {
  .scroll-area-products {
    height: 60vh;
  }
}

@media screen and (min-width: 1251px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media screen and (max-width: 1250px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }
}
